@using WebApplication1.ViewModels;

@model HomeViewModels



<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Sliders.Count; i++)
            {

                <div class="carousel-item @(i == 0 ? "active" : "")">
                    <img class="w-100" src="~/img/@Model.Sliders[i].Image" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase animated bounceInDown">@Model.Sliders[i].Title</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">@Model.Sliders[i].Description</h1>
                            <a href="@Model.Sliders[i].RedirctUrl1" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Get Quote</a>
                            <a href="@Model.Sliders[i].RedirctUrl2" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Contact Us</a>
                        </div>
                    </div>
                </div>

            }


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- Services Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h5>
            <h1 class="display-5 mb-0">Our Excellent CCTV Security Services</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            <i class="flaticon-cctv d-block display-1 fw-normal text-secondary mb-3"></i>
                            <h5 class="text-primary mb-0">@Model.Services[i].Title1</h5>
                            <h3 class="mb-3">@Model.Services[i].Title2</h3>
                            <p>@Model.Services[i].Description</p>
                            <a href="@Model.Services[i].RedirectUrl">Read More<i class="bi bi-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
</div>
<!-- Services End -->
<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Team Members</h5>
            <h1 class="display-5 mb-0">Our Professional Team Members</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.TeamMembers.Count; i++)
            {
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="position-relative rounded-top">
                        <img class="img-fluid rounded-top w-100" src="~/img/team-1.jpg" alt="">
                        <div class="position-absolute bottom-0 end-0 d-flex flex-column bg-white p-1" style="margin-right: -25px;">
                            <a class="btn btn-outline-secondary btn-square m-1" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="bg-primary text-center rounded-bottom p-4">
                        <h3 class="text-white">@Model.TeamMembers[i].FullName</h3>
                        <p class="text-white m-0">@Model.TeamMembers[i].Speciality</p>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
</div>
<!-- Team End -->